{% extends "base.html" %}
{% block content %}

{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="{% static '../static/css/pedido_list.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <title>Pedidos (Prime)</title>  
  
</head>
<Body>
  <div id="header">
    <div class="header-container">
      <form method="GET" action="{% url 'pedido_list' %}">
        <div class="filtro-container">
          <div class="filtro-section">
            <input type="date" name="carimbo_data_hora" placeholder="Carimbo" title="Carimbo Data/Hora" value="{{ request.GET.carimbo_data_hora }}">
          </div>
    
          <div class="filtro-section">
            <input type="text" name="consultor" placeholder="Consultor" title="Consultor" value="{{ request.GET.consultor }}">
          </div>
          <div class="filtro-section">
            <input type="text" name="status" placeholder="Status" title="Status" value="{{ request.GET.status }}">
          </div>
          <div class="filtro-section">
            <input type="text" name="status_pn" placeholder="Status PN" title="Status PN" value="{{ request.GET.status_pn }}">
          </div>
          <div class="filtro-section">
            <select name="order_column" id="order_column">
              <option value="id" {% if request.GET.order_column == 'id' %}selected{% endif %}>ID</option>
              <option value="carimbo_data_hora" {% if request.GET.order_column == 'carimbo_data_hora' %}selected{% endif %}>Carimbo</option>
              <option value="qtd" {% if request.GET.order_column == 'qtd' %}selected{% endif %}>Qtde</option>
              <option value="valor" {% if request.GET.order_column == 'valor' %}selected{% endif %}>Valor</option>
          </select>
          </div>
          <div class="filtro-section">
            <select name="order_by" id="order_by">
              <option value="dsc" {% if request.GET.order_by == 'dsc' %}selected{% endif %}>Dsc</option>
              <option value="asc" {% if request.GET.order_by == 'asc' %}selected{% endif %}>Asc</option>
          </select>
          </div>
        </div>

        <div class="filtro-container">
          <div class="filtro-section">
            <input type="text" name="atividade" placeholder="Atividade" title="Atividade" value="{{ request.GET.atividade }}">
          </div>
          <div class="filtro-section">
            <input type="text" name="equipe" placeholder="Equipe" title="Equipe" value="{{ request.GET.equipe }}">
          </div>
          <div class="filtro-section">
            <input type="text" name="produto" placeholder="Produto" title="Produto" value="{{ request.GET.produto }}">
          </div>
          <div class="filtro-section">
            <input type="text" name="filtro_geral" placeholder="Filtro Geral (texto)" title="Filtro de informações para os campos de texto." value="{{ request.GET.filtro_geral }}">
          </div>
          <button type="submit" class="btn">
            <i class="fa fa-filter"></i>Filtrar
          </button>
          <a href="{% url 'pedido_list' %}" class="btn-inverse">
            <i class="fa-solid fa-filter-circle-xmark"></i>Limpar
          </a>    
        </div>
      </form>
    </div>
    <div class="header-container">
        <button id="excluirlinhas" class="btn-icone excluir" style="position: relative;" disabled>
          <i class="fa-solid fa-trash-can"></i>Excluir
        </button>
        <div id="delete-confirmation" class="itens-dropdown" style="display: none;">
          <p>Excluir <span id="delete-count">0</span> linha(s)?</p>
          <button class="btn" id="confirm-delete">Sim, excluir</button>
          <button class="btn-inverse" id="cancel-delete">Cancelar</button>
        </div>
        <button id="exportButton" class="btn-icone exportar" style="position: relative;">
          <i class="fa-solid fa-file-arrow-down"></i>Exportar
        </button>
        
        <div id="export-confirmation" class="itens-dropdown" style="display: none;">
          <p>Exportar dados para CSV?</p>
          <button class="btn" id="confirm-export">Sim, Exportar</button>
          <button class="btn-inverse" id="cancel-export">Cancelar</button>
        </div>
        <button id="open-modal" class="btn-icone manual" id="atalho">
          <i class="fa-solid fa-book"></i>Atalhos
        </button>
    </div>
    <div class="header-container">
      <button id="btnAtualizar" class="btn-icone manual" id="atalho" style="position: relative;"
          {% if permissaoMasterGerente %}{% else %} disabled {% endif %}>
        <i class="fa-solid fa-rotate-right"></i>Atualizar
      </button>
      <div id="update-confirmation" class="itens-dropdown" style="display: none;">
        <p>Atualizar status com o dados do CRM?</p>
        <button class="btn" id="confirm-update">Sim, Atualizar</button>
        <button class="btn-inverse" id="cancel-update">Cancelar</button>
      </div>
      <label class="box-update">
        Última atualização <br>
        <p>{{ data_hora_atualizado|date:"d/m H:i" }}</p>
      </label>
    </div>
    <div class="header-container">
      <button id="exportButton_modelo" class="btn-icone exportar" style="position: relative;">
        <i class="fa-solid fa-file-arrow-down"></i>Modelo
      </button>
    </div>
    
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close"><i class="fa-solid fa-xmark"></i></span>
        <div id="Atalhos" class="tabcontent">
            <table class="atalhos-tabela">
              <thead>
                <tr>
                    <th>Atalhos</th>
                    <th>Teclas de Atalhos</th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td>Navegar pela tabela</td>
                <td>
                  <kbd class="key">↑</kbd>
                  <kbd class="key">↓</kbd>
                  <kbd class="key">←</kbd>
                  <kbd class="key">→</kbd>
                </td>
              </tr>
              <tr>
                <td>Navegar até a ultima célula</td>
                <td>
                  <kbd class="key">Ctrl</kbd> + 
                  <kbd class="key">↑</kbd>
                  <kbd class="key">↓</kbd>
                  <kbd class="key">←</kbd>
                  <kbd class="key">→</kbd>
                </td>
              </tr>
              <tr>
                  <td>Modo de edição da célula</td>
                  <td><kbd class="key">F2</kbd></td>
              </tr>
              <tr>
                  <td>Mover para a célula abaixo</td>
                  <td><kbd class="key">Enter</kbd>
                  </td>
              </tr>
              <tr>
                <td>Caixa de seleção</td>
                <td><kbd class="key">Click</kbd> ou <kbd class="key">Enter</kbd>
                </td>
            </tr>
              <tr>
                  <td>Mover para a célula à direita</td>
                  <td><kbd class="key">Tab</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Rolar Página para cima</td>
                  <td><kbd class="key">Page Up</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Rolar Página para baixo</td>
                  <td><kbd class="key">Page Down</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Mover para a célula à esquerda</td>
                  <td><kbd class="key">Shift</kbd> + <kbd class="key">Tab</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Ir para o início da planilha</td>
                  <td><kbd class="key">Ctrl</kbd> + <kbd class="key">Home</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Ir para o final da planilha</td>
                  <td><kbd class="key">Ctrl</kbd> + <kbd class="key">End</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Selecionar célula</td>
                  <td><kbd class="key">Ctrl</kbd> + <kbd class="key">A</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Copiar</td>
                  <td><kbd class="key">Ctrl</kbd> + <kbd class="key">C</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Colar</td>
                  <td><kbd class="key">Ctrl</kbd> + <kbd class="key">V</kbd>
                  </td>
              </tr>
              <tr>
                  <td>Desfazer</td>
                  <td><kbd class="key">Ctrl</kbd> + <kbd class="key">Z</kbd>
                  </td>
              </tr>
              <tr>
                <td>Refazer</td>
                <td><kbd class="key">Ctrl</kbd> + <kbd class="key">Y</kbd>
                </td>
            </tr>
          </tbody>
            </table>
        </div>
      </div>
    </div>
          
  </div>

  <div id="footer">
    <div class="status-bar">
      {% if user.is_authenticated %}
         Nome: {{ user.first_name }} {{ user.last_name }} &nbsp;&nbsp; Email: {{ user.email }} 
      {% else %}
          Usuário não autenticado
      {% endif %}
    </div>
    <div class="pagination" style="position: fixed; z-index: 5000; bottom: 5px; left: 42%;">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1" class="key"><i class="fa-solid fa-backward-fast"></i></a>
              <a href="?page={{ page_obj.previous_page_number }}" class="key"><i class="fa-solid fa-backward-step"></i></a>
          {% else %}
              <a href="" class="key disabled"><i class="fa-solid fa-backward-fast"></i></a>
              <a href="" class="key disabled"><i class="fa-solid fa-backward-step"></i></a>
          {% endif %}

          {% if page_obj.paginator.num_pages > 5 %}
              {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                      <span class="current key">
                          {{ i }}
                      </span>
                  {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                      <a href="?page={{ i }}" class="key">{{ i }}</a>
                  {% endif %}
              {% endfor %}
          {% else %}
              {% for i in page_obj.paginator.page_range %}
                  {% if page_obj.number == i %}
                      <span class="current key">
                          {{ i }}
                      </span>
                  {% else %}
                      <a href="?page={{ i }}" class="key">{{ i }}</a>
                  {% endif %}
              {% endfor %}
          {% endif %}

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="key"><i class="fa-solid fa-forward-step"></i></a>
              <a href="?page={{ page_obj.paginator.num_pages }}" class="key"><i class="fa-solid fa-forward-fast"></i></a>
          {% else %}
              <a href="" class="key disabled"><i class="fa-solid fa-forward-step"></i></a>
              <a href="" class="key disabled"><i class="fa-solid fa-forward-fast"></i></a>
          {% endif %}
      </span>
    </div>
    <div>
      Linhas: <span class="total-linhas">{{total_linhas}}</span> &nbsp;&nbsp;&nbsp; 
      Quantidade: <span class="total-qtd">{{total_qtd}}</span> &nbsp;&nbsp;&nbsp; 
      Valor Bruto: <span class="total-valor-bruto">{{total_valor}}</span>
    </div>
  </div>
  
  <div id="table-container">
    <table class="table table-vertical" id="tabela-pedidos">
      <thead>
        <tr class="title">
          <th class="id-check"><input type="checkbox" class="check-pedido" id="select-all" onclick="selectAll()"></th>
          <th class="col" scope="col" style="padding-right: 2px; min-width: 30px;"><i class="fa-solid fa-sort"></i></th> 
          <th scope="col">Carimbo Data/Hora</th>
          <th scope="col">Equipe</th>
          <th scope="col">Consultor</th>
          <th scope="col">Cargo</th> 
          <th scope="col">Data</th>
          <th scope="col">Atividade</th>
          <th scope="col">CNPJ</i></th>
          <th scope="col">Razão Social</i></th>
          <th scope="col">Família de Produtos</i></th>
          <th scope="col">Status</i></th>
          <th scope="col">Status PN</i></th>
          <th scope="col">Produto</i></th>
          <th scope="col">Qtde</th>
          <th scope="col">Valor</th>
          <th scope="col">Motivo cancelamento</th>
          <th scope="col">Simulação</th>
          <th scope="col">Cotação</th>
          <th scope="col">Pedido</th>
          <th scope="col">Crédito</th>
          <th scope="col">BKO Reprovado</th>
          <th scope="col">Data ativação</th>
          <th scope="col">Tipo agenda</th>
          <th scope="col">Data agenda</th>
          <th scope="col">Hora agenda</th>
          <th scope="col">Campanha</th>
          <th scope="col">Data campanha</th>
          <th scope="col">Nome Gestor</th>
          <th scope="col">Celular Gestor</th>
          <th scope="col">E-mail Gestor</th>
          <th scope="col">Observação 1</th>
          <th scope="col">Observação 2</th>
          <th scope="col">Data CQV</th>
          <th scope="col">BKO CQV</th>
          <th scope="col">Data Criação</th>
          <th scope="col">BKO Criação</th>
          <th scope="col">Data Aceite</th>
          <th scope="col">BKO Aceite</th>
          <th scope="col">Data Input</th>
          <th scope="col">BKO Input</th>
          <th scope="col">Data PN salvo</th>
          <th scope="col">PN Salvo</th>
          <th scope="col">ID</th>
          <th scope="col">Data atualizado</th>
        </tr>
      </thead>
      <tbody>
        {% for pedido in page_obj %}
          <tr data-pk="{{ pedido.pk }}">
            <td tabindex="0" class="id-check"> <input type="checkbox" name="selected_pedido" value="{{ pedido.pk }}"></td>
            <td tabindex="0" class="id" scope="row" style="min-width: 30px;" >{{ forloop.counter }}</td>
            <td tabindex="0" data-coluna="carimbo_data_hora" class="text-field" data-type="text">{{ pedido.carimbo_data_hora|date:"d/m/Y H:i"|default:"" }}</td>
            <td tabindex="0" data-coluna="equipe" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  {% for equipe in equipes %}
                    <option value="{{ equipe.id }}" {% if pedido.equipe.id == equipe.id %}selected{% endif %}>
                      {{ equipe|default:"" }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field">  {{ pedido.equipe }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="consultor" data-type="select">
              {% if permissaoNotConsultor %}
                  <select class="input-field">
                    <option value="{{ pedido.consultor}}" selected>{{pedido.consultor}}</option>
                    {% for consultor_id, consultor_nome in consultores %}
                      {% if pedido.consultor == consultor_nome %}
                      {% else %}
                      <option value="{{ consultor_nome }}">
                          {{ consultor_nome|default:"" }}
                      </option> 
                      {% endif %}
                    {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.consultor }}</div>
              {% endif %}
            </td>
            <td tabindex="0" data-coluna="cargo" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                    {% for cargo in cargos %}
                    <option value="{{ cargo.id }}" {% if pedido.cargo.id == cargo.id %}selected{% endif %}>
                        {{ cargo|default:"" }}
                    </option>
                    {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.cargo }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="data" data-type="input">
              {% if permissaoMasterGerente %}
                  <input type="date" value="{{ pedido.data|date:'Y-m-d'|default:'' }}" data-coluna="data" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data|date:'d/m/Y'|default:'' }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="atividade" data-type="input">
              {% if permissaoMasterGerente %}
                <input type="number" data-coluna="atividade" value="{{ pedido.atividade|default:0 }}" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.atividade|default:0 }}</div>
              {% endif %}
            </td>
            <td
              {% if permissaoMasterGerente %}contenteditable="true"{% endif %}
              tabindex="0" data-coluna="cnpj" class="text-field" data-type="text">{{ pedido.cnpj|default:"" }}
            </td>
            <td 
              {% if permissaoMasterGerente %}contenteditable="true"{% endif %}
              tabindex="0" data-coluna="razao_social" class="text-field" data-type="text">{{ pedido.razao_social|default:"" }}
            </td>
            <td tabindex="0" data-coluna="familia_produto" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                    {% for familia_produto in familia_produtos %}
                        <option value="{{ familia_produto.id }}" {% if pedido.familia_produto.id == familia_produto.id %}selected{% endif %}>
                            {{ familia_produto|default:"" }}
                        </option>
                    {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.familia_produto|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="status" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                    {% for s in status %}
                    <option value="{{ s.id }}" {% if pedido.status.id == s.id %}selected{% endif %}>
                        {{ s|default:"" }}
                    </option>
                    {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.status|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="status_pn" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  {% for p in status_pns %}
                    <option value="{{ p.id }}" {% if pedido.status_pn.id == p.id %}selected{% endif %}>
                      {{ p|default:0 }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.status_pn|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="produto" data-type="select">
              {% if permissaoNotConsultor %}
                <select class="input-field">
                  {% for produto in produtos %}
                    <option value="{{ produto.id }}" {% if pedido.produto.id == produto.id %}selected{% endif %}>
                        {{ produto|default:"" }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field"> {{ pedido.produto|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="qtd" data-type="input">
                <input type="number" data-coluna="qtd" value="{{ pedido.qtd|default:0 }}" class="input-field" style="max-width: 110px;" {% if not permissaoNotConsultor %}disabled{% endif %}>
            </td>
            <td tabindex="0" data-coluna="valor" data-type="input">
                <input type="text" data-coluna="valor" value="{{ pedido.valor|default:0 }}" class="input-field" style="max-width: 110px;" {% if not permissaoNotConsultor %}disabled{% endif %}>
            </td>
            <td tabindex="0" data-coluna="motivo_cancelamento" data-type="select">
                {% if permissaoNotBko %}
                  <select class="input-field">
                    {% for motivo_cancelamento in motivos_cancelamento %}
                      <option value="{{ motivo_cancelamento.id }}" {% if pedido.motivo_cancelamento.id == motivo_cancelamento.id %}selected{% endif %}>
                        {{ motivo_cancelamento|default:"" }}
                      </option>
                    {% endfor %}
                  </select>
                {% else %}
                  <div class="text-field">{{ pedido.motivo_cancelamento|default:"" }}</div>
                {% endif %} 
            </td>
            <td 
              {% if permissaoNotVendas %}contenteditable="true"{% endif %} 
              tabindex="0" data-coluna="simulacao" class="text-field" data-type="text">{{ pedido.simulacao|default:"" }}
            </td>
            <td 
              {% if permissaoNotCoordVendas %}contenteditable="true"{% endif %} 
              tabindex="0" data-coluna="cotacao" class="text-field" data-type="text">{{ pedido.cotacao|default:"" }}
            </td>
            <td 
              {% if permissaoNotCoordVendas %}contenteditable="true"{% endif %} 
              tabindex="0" data-coluna="pedido" class="text-field" data-type="text">{{ pedido.pedido|default:"" }}
            </td>
            <td tabindex="0" data-coluna="credito" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  {% for credito in creditos %}
                    <option value="{{ credito.id }}" {% if pedido.credito.id == credito.id %}selected{% endif %}>
                      {{ credito|default:"" }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.credito|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="bko_reprovado" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  {% for bko_reprovado in bko_reprovados %}
                    <option value="{{ bko_reprovado.id }}" {% if pedido.bko_reprovado.id == bko_reprovado.id %}selected{% endif %}>
                      {{ bko_reprovado|default:"" }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.bko_reprovado|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="data_ativacao" data-type="input">
              {% if permissaoMasterGerente %}
                <input type="date" value="{{ pedido.data_ativacao|date:'Y-m-d'|default:'' }}" data-coluna="data_ativacao" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data_ativacao|date:'d/m/Y'|default:'' }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="tipo_agenda" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  {% for tipo_agenda in tipo_agendas %}
                    <option value="{{ tipo_agenda.id }}" {% if pedido.tipo_agenda.id == tipo_agenda.id %}selected{% endif %}>
                      {{ tipo_agenda|default:"" }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.tipo_agenda|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="data_agenda" data-type="input">
              {% if permissaoMasterGerente %}
                <input type="date" value="{{ pedido.data_agenda|date:'Y-m-d'|default:'' }}" data-coluna="data_agenda" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data_agenda|date:'Y-m-d'|default:'' }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="hora_agenda" data-type="input">
              {% if permissaoMasterGerente %}
                <input type="time" value="{{ pedido.hora_agenda|date:'H:i:s'|default:'' }}" data-coluna="hora_agenda" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.hora_agenda|date:'H:i:s'|default:'' }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="campanha" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  {% for campanha in campanhas %}
                    <option value="{{ campanha.id }}" {% if pedido.campanha.id == campanha.id %}selected{% endif %}>
                      {{ campanha|default:"" }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.campanha|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="data_campanha" data-type="input">
              {% if permissaoMasterGerente %}
                <input type="date" value="{{ pedido.data_campanha|date:'Y-m-d'|default:'' }}" data-coluna="data_campanha" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data_campanha|date:'Y-m-d'|default:'' }}</div>
              {% endif %} 
            </td>
            <td
              {% if permissaoMasterGerente %}contenteditable="true"{% endif %}
              tabindex="0" data-coluna="nome_gestor" class="text-field" data-type="text">{{ pedido.nome_gestor|default:"" }}
            </td>
            <td
              {% if permissaoMasterGerente %}contenteditable="true"{% endif %}
              tabindex="0" data-coluna="celular_gestor" class="text-field" title="Ctrl+Clique" data-type="text">{{ pedido.celular_gestor|default:"" }}
            </td>
            <td 
              {% if permissaoMasterGerente %}contenteditable="true"{% endif %}
              tabindex="0" data-coluna="email_gestor" class="text-field" data-type="text">{{ pedido.email_gestor|default:"" }}
            </td>
            <td tabindex="0" data-coluna="observacao_1" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  {% for observacao in observacoes %}
                    <option value="{{ observacao.id }}" {% if pedido.observacao_1.id == observacao.id %}selected{% endif %}>
                      {{ observacao|default:"" }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.observacao|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="observacao_2" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  {% for observacao in observacoes %}
                    <option value="{{ observacao.id }}" {% if pedido.observacao_2.id == observacao.id %}selected{% endif %}>
                      {{ observacao|default:"" }}
                    </option>
                  {% endfor %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.observacao|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="data_cqv" data-type="input">
              {% if permissaoNotVendas %}
                <input type="date" value="{{ pedido.data_cqv|date:'Y-m-d'|default:'' }}" data-coluna="data_cqv" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data_cqv|date:'Y-m-d'|default:'' }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="bko_cqv" data-type="select">
              {% if permissaoNotVendas %}
                <select class="input-field">
                  <option value="{{ pedido.bko_cqv }}" selected>{{ pedido.bko_cqv|default:"" }}</option>
                  {% with user_full_name=user.first_name|default:''|add:' '|add:user.last_name|default:'' %}
                    {% if not pedido.bko_cqv == user_full_name %}
                      <option value="{{ user_full_name }}">{{ user_full_name }}</option>
                    {% endif %}
                  {% endwith %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.bko_cqv|default:"" }}<div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="data_criacao" data-type="input">
              {% if permissaoNotVendas %}
                <input type="date" value="{{ pedido.data_criacao|date:'Y-m-d'|default:'' }}" data-coluna="data_criacao" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data_criacao|date:'Y-m-d'|default:'' }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="bko_criacao" data-type="select">
              {% if permissaoNotVendas %}
                <select class="input-field">
                  <option value="{{ pedido.bko_criacao }}" selected>{{ pedido.bko_criacao|default:"" }}</option>
                  {% with user_full_name=user.first_name|default:''|add:' '|add:user.last_name|default:'' %}
                    {% if not pedido.criacao == user_full_name %}
                      <option value="{{ user_full_name }}">{{ user_full_name }}</option>
                    {% endif %}
                  {% endwith %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.bko_criacao|default:"" }}</div>
              {% endif %} 
            </td>        
            <td tabindex="0" data-coluna="data_aceite" data-type="input">
              {% if permissaoNotVendas %}
                <input type="date" value="{{ pedido.data_aceite|date:'Y-m-d'|default:'' }}" data-coluna="data_aceite" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data_aceite|date:'Y-m-d'|default:'' }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="bko_aceite" data-type="select">
              {% if permissaoNotVendas %}
                <select class="input-field">
                  <option value="{{ pedido.bko_aceite }}" selected>{{ pedido.bko_aceite|default:"" }}</option>
                  {% with user_full_name=user.first_name|default:''|add:' '|add:user.last_name|default:'' %}
                    {% if not pedido.aceite == user_full_name %}
                      <option value="{{ user_full_name }}">{{ user_full_name }}</option>
                    {% endif %}
                  {% endwith %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.bko_aceite|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="data_input" data-type="input">
              {% if permissaoNotVendas %}
                <input type="date" value="{{ pedido.data_input|date:'Y-m-d'|default:'' }}" data-coluna="data_input" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data_input|date:'Y-m-d'|default:'' }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="bko_input" data-type="select">
              {% if permissaoNotVendas %}
                <select class="input-field">
                  <option value="{{ pedido.bko_input }}" selected>{{ pedido.bko_input|default:"" }}</option>
                  {% with user_full_name=user.first_name|default:''|add:' '|add:user.last_name|default:'' %}
                    {% if not pedido.bko_input == user_full_name %}
                      <option value="{{ user_full_name }}">{{ user_full_name }}</option>
                    {% endif %}
                  {% endwith %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.bko_input|default:"" }}</div>
              {% endif %} 
            </td>
            <td tabindex="0" data-coluna="data_pn_salvo" data-type="input">
              {% if permissaoMasterGerente %}
                <input type="date" value="{{ pedido.data_pn_salvo|date:'Y-m-d'|default:'' }}" data-coluna="data_pn_salvo" class="input-field">
              {% else %}
                <div class="text-field">{{ pedido.data_pn_salvo|date:'Y-m-d'|default:'' }}</div>
              {% endif %} 
            </td>

            <td tabindex="0" data-coluna="pn_salvo" data-type="select">
              {% if permissaoMasterGerente %}
                <select class="input-field">
                  <option value="{{ pedido.pn_salvo }}" selected>{{ pedido.pn_salvo|default:"" }}</option>
                  {% with user_full_name=user.first_name|default:''|add:' '|add:user.last_name|default:'' %}
                    {% if not pedido.pn_salvo == user_full_name %}
                      <option value="{{ user_full_name }}">{{ user_full_name }}</option>
                    {% endif %}
                  {% endwith %}
                </select>
              {% else %}
                <div class="text-field">{{ pedido.pn_salvo|default:"" }}</div>
              {% endif %}
            </td>
            
            <td tabindex="0" class="text-field" data-type="text" style="min-width: auto;">{{ pedido.pk }}</td>
            <td tabindex="0" data-coluna="data_hora_atualizado_status" data-type="input">
              <input type="datetime-local" value="{{ pedido.data_hora_atualizado_status|date:'Y-m-d H:i:s'|default:'' }}" 
              data-coluna="data_hora_atualizado_status" class="input-field" style="width: 100%;">
            </td>
          </tr>
        {% endfor %}
      </tbody>
      
    </table>
  </div>
  <div id="snackbar">Mensagem!</div>

<script>

  function showSnackbar(message, type) {
            snackbar.innerText = message;
            snackbar.classList.add('show');
            snackbar.classList.add(type);
            
            setTimeout(function () {
                snackbar.classList.remove('show');
                snackbar.classList.add(type);
                snackbar.classList.remove('success', 'error');
            }, 3000);
        }

    function enviarAtualizacao(pedidoId, novoValor, coluna) {
      
      if(coluna == "valor"){
        novoValor = novoValor.replace(/,/g, '.')
      }

      novoValor = novoValor.toUpperCase();

      $.ajax({
          type: 'POST',
          url: '/pedidos/',
          data: {
              'pedido_id': pedidoId,
              'novo_valor': novoValor,
              'coluna': coluna,
              'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function (response) {
              showSnackbar(response.message, 'success'); 
              console.log(response);
          },
          error: function (xhr, status, error) {
              var response = xhr.responseJSON;
              if (response && response.error) {
                  showSnackbar(response.error, 'error');
              } else {
                  showSnackbar('Erro desconhecido: ' + error, 'error');
              }
              console.error(xhr, status, error);
          }
      });
    }

  function moverFoco(novaLinha, novaColuna) {
      var tabelaPedidos = $('#tabela-pedidos');
      var totalLinhas = tabelaPedidos.find('tr').length;
      var totalColunas = tabelaPedidos.find('th').length;
    
      novaLinha = Math.max(0, Math.min(novaLinha, totalLinhas - 1));
      novaColuna = Math.max(0, Math.min(novaColuna, totalColunas - 1));

      var novaCelula = tabelaPedidos.find('tr').eq(novaLinha).find('td').eq(novaColuna);

      if (novaCelula.length > 0) {
        novaCelula.focus();
      }
    }

</script>

<script>

  function excluirPedidos(pedidoIds) {
    $.ajax({
      type: 'POST',
      url: '/pedidos/',
      data: {
        'pedido_ids[]': pedidoIds,
        'tipo': 'deletar_pedidos', 
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      traditional: true, 
      success: function(response) {
        console.log(response);
        location.reload();
      },
      error: function (xhr, status, error) {
        var response = xhr.responseJSON;
        if (response && response.error) {
            showSnackbar(response.error, 'error');
        } else {
            showSnackbar('Erro desconhecido: ' + error, 'error');
        }
        console.error(xhr, status, error);
      }
    });
  }

  $('#excluirlinhas').on('click', function() {
    var selectedCheckboxes = $('input[name="selected_pedido"]:checked');
    var count = selectedCheckboxes.length;
    if (count > 0) {
      $('#delete-count').text(count);
      $('#delete-confirmation').show();
    } else {
      showSnackbar('Nenhum pedido selecionado para excluir.', 'error');
    }
  });

  $('#confirm-delete').on('click', function() {
    var selectedCheckboxes = $('input[name="selected_pedido"]:checked');
    var selectedIds = selectedCheckboxes.map(function() {
      return this.value;
    }).get();

    excluirPedidos(selectedIds);

    $('#delete-confirmation').hide();
  });

  $('#cancel-delete').on('click', function() {
    $('#delete-confirmation').hide();
  });
</script>

<script>
  $(document).ready(function() {

    $('a.disabled').on('click', function(event) {
      event.preventDefault();
    });

    $('#tabela-pedidos .text-field').on('focus', function() {
        var valorOriginal = $(this).html().replace(/<br>/g, '\n').replace(/&nbsp;/g, ' ').trim();
        $(this).data('valor-original', valorOriginal);
    }).on('blur', function() {
        var pedidoId = $(this).closest('tr').data('pk');
        var novoValor = $(this).text().trim();
        var novoValorHtml = $(this).html().replace(/<br>/g, '\n').replace(/&nbsp;/g, ' ').trim();
        var coluna = $(this).data('coluna'); 

        var valorOriginal = $(this).data('valor-original').trim();
        if (novoValor !== valorOriginal) {
            enviarAtualizacao(pedidoId, novoValorHtml, coluna);
        }
    });

    $('#tabela-pedidos select').on('change', function() {
        var pedidoId = $(this).closest('tr').data('pk');
        var novoValor = $(this).val();
        var coluna = $(this).closest('td').data('coluna');
        var colunaData = null;
        
        enviarAtualizacao(pedidoId, novoValor, coluna);


        if (coluna.indexOf('bko') !== -1) {
            colunaData = coluna.replace('bko', 'data');
        } else if (coluna.indexOf('pn_salvo') !== -1) {
            colunaData = coluna.replace('pn_salvo', 'data_pn_salvo');
        } else {
            colunaData = null;
        }
        
        if (colunaData && coluna !== 'bko_reprovado') {
          var dataCell = $(this).closest('td').prev('td[data-coluna="'+ colunaData +'"]');
          
          var novaData = calcularNovaData();
          dataCell.find('input').val(novaData);

          setTimeout(function() {
            enviarAtualizacao(pedidoId, novaData, colunaData);
          }, 1000);
        }
    });

    function calcularNovaData(){
      var today = new Date();
      var day = today.getDate().toString().padStart(2, '0');;
      var month = (today.getMonth() + 1).toString().padStart(2, '0');; 
      var year = today.getFullYear();
      var date = year+"-"+month+"-"+ day;
      return date
    }

    $('#tabela-pedidos td input:not(:checkbox)').on('change', function() {
        var pedidoId = $(this).closest('tr').data('pk');
        var novoValor = $(this).val();
        var coluna = $(this).closest('td').data('coluna'); 

        enviarAtualizacao(pedidoId, novoValor, coluna);
    });

    $('#tabela-pedidos td').on('paste', function(event) {
      event.preventDefault();

      var clipboardData = event.originalEvent.clipboardData || window.clipboardData;

      if (clipboardData) {
        var plainText = clipboardData.getData('text/plain');
        
        $(this).text(plainText);
      }
    });

    var editMode = false;

    function toggleEditMode() {
        editMode = !editMode;
        document.getElementById('tabela-pedidos').classList.toggle('edit-mode', editMode);
    }

    $('#tabela-pedidos').dblclick(function() {
        editMode = true;
        $('#tabela-pedidos').addClass('edit-mode');
    });

    $('#tabela-pedidos td').on('keydown', function(event) {

      // if (event.ctrlKey && event.key === 'c') {
      //   var textoCelula = $(this).text();
      //   textoCopiado = textoCelula;
      //   var clipboardElement = document.createElement('textarea');
      //   clipboardElement.value = textoCopiado;
      //   document.body.appendChild(clipboardElement);
      //   clipboardElement.select();
      //   document.execCommand('copy');
      //   document.body.removeChild(clipboardElement);
      //   console.log(textoCelula)

      //   event.preventDefault();
      // }

      if (!editMode) {
        if (event.keyCode >= 37 && event.keyCode <= 40) {
          event.preventDefault();
        }
      }
      //Quebra de linha
      if (event.key === 'Enter' && event.shiftKey) {
        return;
      }

      if (event.key === 'F2') {
        console.log('perto')
        toggleEditMode()
        return;
      }

      if (event.keyCode === 27) { 
          console.log('perto')
          editMode = false;
          $('#tabela-pedidos').removeClass('edit-mode');
          return;
      }

      //Enter na célula
      if (event.keyCode === 13) {
        event.preventDefault();

        var indexColuna = $(this).index();  

        if (indexColuna === 0) {
          var checkbox = $(this).find('[name="selected_pedido"]');
          checkbox.prop('checked', !checkbox.prop('checked'));
          updateDeleteButtonState();
        }

        var proximaLinha = $(this).closest('#tabela-pedidos tr').next('tr');  

        if (proximaLinha.length > 0) {
          var proximoTD = proximaLinha.find('td').eq(indexColuna);  

          if (proximoTD.length > 0) {
            proximoTD.focus();
            var inputNoTd = proximoTD.find('input');
            editMode = false;

            if (inputNoTd.length > 0) {
                inputNoTd.focus();
                editMode = true;
            }
            
            $('#tabela-pedidos').removeClass('edit-mode');
          }
        } else {
          var pedidoId = $(this).closest('tr').data('pk');
          var novoValor = $(this).text().trim();
          var novoValorHtml = $(this).html().replace(/<br>/g, '\n').replace(/&nbsp;/g, ' ').trim();
          var coluna = $(this).data('coluna'); 
          
          try{
            var valorOriginal = $(this).data('valor-original').trim();
          } catch (error){
            valorOriginal = novoValor;
          }

          if (novoValor !== valorOriginal) {
              enviarAtualizacao(pedidoId, novoValorHtml, coluna);
              $(this).data('valor-original', novoValorHtml);
          }
        }
      }

      if (!editMode) {
        var indexLinha = $(this).closest('#tabela-pedidos tr').index() + 1;
        var indexColuna = $(this).index();
        var inicioColuna = 2;

        if (event.ctrlKey) {
          switch (event.key) {
            case 'ArrowUp':
              moverFoco(1, indexColuna); 
              break;
            case 'ArrowDown':
              moverFoco($('tr').length - 1, indexColuna);
              break;
            case 'ArrowLeft':
              moverFoco(indexLinha, inicioColuna); 
              break;
            case 'ArrowRight':
              moverFoco(indexLinha, $('th').length - 1);
              break;
            case 'Home':
              moverFoco(1, inicioColuna);
              event.preventDefault();
              break;
            case 'End':
              moverFoco($('tr').length - 1, $('th').length - 1);
              event.preventDefault();
              break;
          }
        } else {
          // Se não pressionar CTRL, realizar o movimento padrão
          switch (event.key) {
            case 'ArrowUp':
              moverFoco(indexLinha - 1, indexColuna);
              break;
            case 'ArrowDown':
              moverFoco(indexLinha + 1, indexColuna);
              break;
            case 'ArrowLeft':
              moverFoco(indexLinha, indexColuna - 1);
              break;
            case 'ArrowRight':
              moverFoco(indexLinha, indexColuna + 1);
              break;
          }}
      }
    });
  });
</script>

<script>
  function exportarPedidos() {
    var tableData = getTableData("tabela-pedidos");
    var fields = Object.keys(tableData[0]);

    var csvData = Papa.unparse({
        fields: fields,
        data: tableData
    }, {
        delimiter: ";"
    });

    var csvDataWithBOM = "\uFEFF" + csvData;
    var blob = new Blob([csvDataWithBOM], { type: "text/csv;charset=ISO-8859-15;" });
    var link = document.createElement("a");
    link.href = URL.createObjectURL(blob);
    link.download = "pedidos.csv";
    link.style.display = "none";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }

  function getTableData(tableId) {
    var data = [];
    var table = document.getElementById(tableId);
    var headers = table.querySelectorAll("thead th");
    var rows = table.querySelectorAll("tbody tr");

    rows.forEach(function (row) {
        var rowData = {};
        var cellsArray = Array.from(row.cells);
        cellsArray.forEach(function (cell, index) {
            var headerText = headers[index].innerText;
            var cellType = cell.dataset.type;

            if (cellType === 'text') {
                rowData[headerText] = cell.innerText;
            } else if (cellType === 'input') {
                rowData[headerText] = cell.querySelector("input").value;
            } else if (cellType === 'select') {
                rowData[headerText] = getSelectedText(cell.querySelector("select"));
            }
        });

        data.push(rowData);
    });
    return data;
  }

  function getSelectedText(selectElement) {
      if (!selectElement) {
          return "";
      }
      var selectedOption = selectElement.options[selectElement.selectedIndex];
      return selectedOption ? selectedOption.text : "";
  }

  $('#exportButton').on('click', function() {
    $('#export-confirmation').show();
  });

  $('#confirm-export').on('click', function() {
    exportarPedidos();
    $('#export-confirmation').hide();
  });

  $('#cancel-export').on('click', function() {
    $('#export-confirmation').hide();
  });
</script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById('modal');
    var btn = document.getElementById('open-modal');
    var span = document.getElementsByClassName('close')[0];
    var dropdown = document.querySelector('.itens-dropdown');

    btn.onclick = function() {
      modal.style.display = 'block';
    }

    span.onclick = function() {
      modal.style.display = 'none';
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = 'none';
      }
    }
  });

</script>

<script>
  function selectAll() {
    var checkboxes = document.querySelectorAll('[name="selected_pedido"]');
    var selectAllCheckbox = document.getElementById('select-all');
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = selectAllCheckbox.checked;
    }
  }
  function updateDeleteButtonState() {
      var deleteButton = document.getElementById('excluirlinhas');
      var checkedCheckboxes = document.querySelectorAll('[name="selected_pedido"]:checked');
        
      var permissaoGrupo = {{ permissaoMasterGerente|yesno:"true,false" }};

      deleteButton.disabled = checkedCheckboxes.length === 0 || !permissaoGrupo;
    }

  document.addEventListener('DOMContentLoaded', function () {
    var selectAllCheckbox = document.getElementById('select-all');
    var checkboxes = document.querySelectorAll('[name="selected_pedido"]');
    var tableRows = document.querySelectorAll('#tabela-pedidos tbody tr');

    selectAllCheckbox.addEventListener('change', function () {
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
            updateRowStyle(checkboxes[i]);
        }
        updateDeleteButtonState();
    });

    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', function () {
            var checkedCheckboxes = document.querySelectorAll('[name="selected_pedido"]:checked');
            selectAllCheckbox.checked = checkedCheckboxes.length === checkboxes.length;
            updateRowStyle(this);
            updateDeleteButtonState();
        });
    }

    function updateRowStyle(checkbox) {
        var rowIndex = Array.from(checkboxes).indexOf(checkbox);
        if (rowIndex >= 0 && rowIndex < tableRows.length) {
            tableRows[rowIndex].classList.toggle('selected', checkbox.checked);
        }
    }
  });
</script>

<script>
  function atualizarPedidos() {
    fetch("/atualizar_pedidos/") 
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error("Erro ao atualizar pedidos:", error));
  }

  $('#btnAtualizar').on('click', function() {
      $('#update-confirmation').show();
  });

  $('#confirm-update').on('click', function() {
    atualizarPedidos();
    $('#update-confirmation').hide();
  });

  $('#cancel-update').on('click', function() {
    $('#update-confirmation').hide();
  });

</script>

<script>
  $(document).ready(function () {
    $('#tabela-pedidos th i').click(function () {
        var table = $(this).closest('table');
        var rows = table.find('tbody > tr').toArray().sort(comparator($(this).index()));

        rows = rows.reverse();

        for (var i = 0; i < rows.length; i++) {
            table.find('tbody').append(rows[i]);
        }

        showSnackbar("Lista ordenada!", 'success');
    });

    function comparator(index) {
        return function (a, b) {
            var valA = getCellValue(a, index);
            var valB = getCellValue(b, index);

            return valA.toString().localeCompare(valB);
        };
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
    }
});

</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const savedScrollLeft = localStorage.getItem("scrollLeft");
      const savedScrollTop = localStorage.getItem("scrollTop");

      const tabela = document.getElementById("table-container");

      tabela.style.overflowX = "auto";

      tabela.style.overflowY = "auto";

      tabela.scrollLeft = savedScrollLeft || 0;
      tabela.scrollTop = savedScrollTop || 0;
  });
  
  window.addEventListener("beforeunload", function() {
    const tabela = document.getElementById("table-container");

    localStorage.setItem("scrollLeft", tabela.scrollLeft);
    localStorage.setItem("scrollTop", tabela.scrollTop);
  });
</script>

<script>
  document.getElementById('exportButton_modelo').addEventListener('click', function () {
    exportToExcel();
  });

  function exportToExcel() {
    const table = document.getElementById('tabela-pedidos');
    const rows = table.querySelectorAll('thead th');
    let headerData = [];

    for (let i = 2; i < rows.length; i++) {
      headerData.push(rows[i].innerText);
    }

    const csvContentBOM = "\uFEFF" + headerData.join(';') + '\n';

    const blob = new Blob([csvContentBOM], { type: 'text/csv;' });

    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'importacao_modelo.csv'; 
    a.click();

    URL.revokeObjectURL(url);
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function checkScroll() {
        let scrollTop = window.scrollY;
        let windowHeight = window.innerHeight;
        let height = document.documentElement.scrollHeight;

        // Verifica se o scroll está próximo do final da página
        if (scrollTop + windowHeight > height - 100) {
            loadMoreData();
        }
    }

    // Adiciona o evento de scroll ao window
    window.addEventListener('scroll', checkScroll);
});


</script>

</Body>

{% endblock %}

