{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erro 400 - Solicitação Inválida</title>
        <link href="{% static '../static/css/error.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    </head>
</head>
<body>
    <h1>Erro 400: Solicitação Inválida</h1>
    <p>Desculpe, sua solicitação não pôde ser processada.</p>
    <a href="pedidos/">Voltar para a página inicial</a>
</body>

{% endblock %}
