{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erro no Servidor</title>
        <link href="{% static '../static/css/error.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    </head>
</head>
<body>
    <h1>Ops! Algo deu errado.</h1>
    <p>Algum erro inesperado ocorreu. Por favor, tente novamente mais tarde.</p>
    <a href="/">Voltar para a página inicial</a>
</body>

{ % endblock %}